{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Features{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
            <div class="top"><a href="{% url 'create_feature' %}">Add a Feature</a></div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			{% for feature in feature %}
			<div class="card feature-card">
				<div class="card-body">
					<a class="card-title" href="{% url 'get_features' %}">
						{% if feature.phase_of_development == 'Doing' %}
						<span class="badge badge-done">{{ feature.phase_of_development }}</span>
						{% elif feature.phase_of_development == 'Done' %}
						<span class="badge badge-doing">{{ feature.phase_of_development }}</span>
						{% elif feature.phase_of_development == 'ToDo' %}
						<span class="badge badge-todo">{{ feature.phase_of_development }}</span>
						{% endif %}
						{{ feature.name }}
                        {{ feature.details }}
					</a>
					<span class="vote-number">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span>
					<p class="text-muted">posted: {{ feature.posted_on|naturaltime }} by {{ feature.username }}			
						<span class="comments">{{ feature.comments.count }} <i class="far fa-comment"></i> </span>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
