{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Features{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<a class='btn btn-primary inline margin-bottom-20' href="{% url 'create_feature' %}">Add a Feature </a>
		</div>
	</div>
</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			{% for feature in feature %}
			<div class="card feature-card">
				<div class="card-body">
					<a class="card-title" href="{% url 'get_features' %}">
						{% if feature.phase_of_development == 'Doing' %}
						<span class="badge badge-done">{{ feature.phase_of_development }}</span>
						{% elif feature.phase_of_development == 'Done' %}
						<span class="badge badge-doing">{{ feature.phase_of_development }}</span>
						{% elif feature.phase_of_development == 'ToDo' %}
						<span class="badge badge-todo">{{ feature.phase_of_development }}</span>
						{% endif %}
						{{ feature.name }}
						{{ feature.details }}
					</a>
					<span class="vote-number">{{feature.upvote }} <i class="far fa-thumbs-up"></i></span>
					<p class="text-muted">posted: {{ feature.posted_on|naturaltime }} by {{ feature.username }}
						<span class="comments">{{ feature.comments.count }} <i class="far fa-comment"></i> </span>
					</p>
				</div>
			</div>
			{% endfor %}
			<div class="pagination">
				{% if features.has_previous %}
				<a class="btn btn-outline-info" href="?page=1">First</a>
				<a class="btn btn-outline-info" href="?page={{ features.previous_page_number }}">&lt;</a>
				{% endif %}
				{% for num in features.paginator.page_range %}
				{% if features.number == num %}
				<a class="btn btn-info" href="?page={{ features.number }}"> {{ features.number }}</a>
				{% elif num > features.number|add:'-2' and num < features.number|add:'2' %}
				<a class="btn btn-outline-info" href="?page={{ num }}"> {{ num }}</a>
				{% endif %}
				{% endfor %}
				{% if features.has_next %}
				<a class="btn btn-outline-info" href="?page={{ features.next_page_number }}">&gt;</a>
				<a class="btn btn-outline-info" href="?page={{ features.paginator.num_pages }}">last</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}