{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load humanize %}

{% block title %}{{ bug.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">


            <a class="btn btn-primary back-btn" href="{% url 'show_bug' %}">Back</a>

           
            <div class="card description-card">
                <h3 class="card-title">
                    {% if bug.fix_status == 'Doing' %}
                        <span class="badge badge-done">{{ bug.fix_status }}</span>
                    {% elif bug.fix_status == 'Done' %}
                        <span class="badge badge-doing">{{ bug.fix_status }}</span>
                    {% elif bug.fix_status == 'ToDo' %}
                        <span class="badge badge-todo">{{ bug.fix_status }}</span>
                    {% endif %}
                    {{bug.title}}
                    
                </h3>
                    {% if request.user == bug.author and bug.fix_status == 'ToDo'%}
                        <p class="card-text">{{bug.details}} <i class="fas fa-edit"></i>
                        <i class="far fa-trash-alt" data-toggle="modal" data-target="#deleteBugModal{{bug.id}}"></i> 
                        </p>
                    {% else %}
                        <p class="card-text">{{bug.details}} </p>
                    {% endif %}
            </div>
        </div>      
    </div>
</div>
    <div class="row">
        <div class="col-12 offset-md-1 col-md-10 col-lg-9">
            <h2> Comments: </h2>
        </div>
    </div>
    <div class="row comment-row">
        <div class="col-12 offset-md-1 col-md-10 col-lg-9">
            <!--Displays each comment in a Bootstrap card-->
            {% for comment in comments %}
                <div class="card comment-card">
                    <div class="card-header">
                        <p class="card-title"><strong>{{comment.author}}</strong> posted {{comment.created_on|naturaltime}}</p>
                    </div>
                    <div class="card-body">
                        {% if request.user == comment.author %}
                            <p class="card-text">
                                {{comment.comment}} <a href="{% url 'edit_bug_comment' comment.id %}"><i class="fas fa-edit"></i></a>
                                <i class="far fa-trash-alt"  data-toggle="modal" data-target="#deleteBugComment{{comment.id}}"></i>
                            </p>
                        {% else %}
                            <p class="card-text">{{comment.comment}}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div> 
        </div>
    </div>
{% endblock %}
