{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} All Bugs{% endblock %}
{% block content %}


<div class="container">
	<div class="row">
		<div class="col-6">

        <h1>Current Bugs I need to Solve, click toggle if the bug is solved</h1>
                <table>

            {% for bug in bugs %}
            <tr>
          
                {% if bug.done %}
                    <td><strike>{{ bug.title }}</strike></td>
                {% else %}
                    <td><a href="{% url 'show_bug' id=bug.id %}>{{ bug.title }}</a></td>
                    <td>{{ bug.details }}</td>
                    <td>{{ bug.author }}</td>
                    <td>{{ bug.views }}</td>
                    <td>{{ bug.status }}</td>
                    <td>{{ bug.comment }}</td>
                {% endif %}
                <td>
                    <form method="POST" action="toggle/{{ bug.id }}">
                    {% csrf_token %}
                        <input type="submit" value="Toggle">
                    </form>
                </td>
                <td>
                    <a href="{% url 'bug_description' bug.id %}" class="btn btn-comment">View the bug description</a>
                </td>
                
                <td>
                    <a href="{% url 'add_comment_bug' bug.id %}" class="btn btn-comment">Add Comment</a>
                </td>
            </tr>

            </table>


<!-- FIRST THING TO DO WHEN CREATING A NEW ITEM Pointing to a an url IN THE URLS PATTERNS IN THE
MAIN URLS.PY FILE(THER EIS ALSO TO WRITE THE  TASSSK CREATE_NEW_FILE), THEN CREATE A NEW HTML FILE, YHEN ON VIEWS.PY  return for
that request for that new html file -->

            {% endfor %}
		</div>
	</div>
</div>
{% endblock %}