{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} All Bugs{% endblock %}
{% block content %}
<!-- <div class="switch">
  <label>
    Off
    <input type="checkbox">
    <span class="lever"></span> On
  </label>
</div>
<div class="container">
	<div class="row">
		<div class="col-6">

        <h1>Current Bugs I need to Solve</h1>

            {% for bug in bug %}
            <div class='switch'>
            <label>
            Off
                {% if bug.done %}
                <input type='checkbox'>{{ bug.title }}<span class='lever'></span>On
                {% else %}
                {{ bug.title }}
                {% endif %}
                </label>
                    
                    {% csrf_token %}
                        
                    <form method="GET" action="edit/{{ bug.id }}">
                        <input type="submit" value="Edit">
                    </form>
                </td>
            </tr>
            {% empty %}
            <p>You have nothing to do.</p>
            {% endfor %} -->


<div class="container">
	<div class="row">
		<div class="col-6">

        <h1>Current Bugs I need to Solve</h1>
                <table>

            {% for bug in bug %}
            <tr>
            <!-- <a class="card-title" href="{% url 'bug_description' bug.id %}"></a> -->
                {% if bug.done %}
                <td><strike>{{ bug.title }}</strike></td>
                {% else %}
                <td>{{ bug.title }}</td>
                {% endif %}
                <td>
                    <form method="POST" action="toggle/{{ bug.id }}">
                    {% csrf_token %}
                        <input type="submit" value="Toggle">
                    </form>
                </td>

                <!-- <td>
                    <form method="GET" action="edit/{{ bug.id }}">
                        <input type="submit" value="Edit">
                    </form>
                </td> -->
            </tr>
            {% empty %}
            <p>You have nothing to do.</p>
            {% endfor %}
            </table>


<!-- FIRST THING TO DO WHEN CREATING A NEW ITEM Pointing to a an url IN THE URLS PATTERNS IN THE
MAIN URLS.PY FILE(THER EIS ALSO TO WRITE THE  TASSSK CREATE_NEW_FILE), THEN CREATE A NEW HTML FILE, YHEN ON VIEWS.PY  return for
that request for that new html file -->

            <a href="add_bug"> Add a bug you have noticed here or want to fix</a>


			<!-- {% for bug in bug %}
			<div class="card">
				<div class="card-body">
					<a class="card-title" href="{% url 'bug_description' bug.id %}">
						{% if bug.fix_status == 'Doing' %}
						<span class="badge badge-done">{{ bug.fix_status }}</span>
						{% elif bug.fix_status == 'Done' %}
						<span class="badge badge-doing">{{ bug.fix_status }}</span>
						{% elif bug.fix_status == 'ToDo' %}
						<span class="badge badge-todo">{{ bug.fix_status }}</span>
						{% endif %}
						{{ bug.title }}
					</a>
				</div>
			</div>
			{% endfor %} -->
		</div>
	</div>
</div>
{% endblock %}