{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} All Bugs{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-4">
			<h1>Current Bugs</h1>
		</div>
		<div class="col-4">
			<a href="{% url 'show_bug' %}" class="btn btn-add">Report a Bug </a>
		</div>
	</div>
	<div class="row">
		<div class="col-4">

			{% for bug in bug %}
			<div class="card">
				<div class="card-body">
					<a class="card-title" href="{% url 'bug_description' bug.id %}">
						{% if bug.fix_status == 'Doing' %}
						<span class="badge badge-done">{{ bug.fix_status }}</span>
						{% elif bug.fix_status == 'Done' %}
						<span class="badge badge-doing">{{ bug.fix_status }}</span>
						{% elif bug.fix_status == 'ToDo' %}
						<span class="badge badge-todo">{{ bug.fix_status }}</span>
						{% endif %}
						{{ bug.title }}
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}