{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load static %}
{% block title %} Shopping Cart{% endblock %}

{% block content %}
<div class="container" id="cart-page">
{% for item in cart_items %}

	<div class="row">
		<div class="col-12">
			<h3>{{ item.feature.name }}</h3>
			<p class="feature-description">{{ item.feature.description|truncatewords:40 }}</p>
			<p>{{ item.feature.price }}</p>
			
				<form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
					{% csrf_token %}
                    <button class="btn btn-danger" type="submit"><span>Remove</span></button>
					<div class="form-group">
						<label for="exampleInputAmount" class="sr-only">New Qty</label>
						<div class="input-group">
							<div class="input-group-addon">Qty</div>
							<input name="quantity" type="number" min="0" max="5" class="form-control">
							<div class="input-group-addon">{{item.quantity}}</div>
						</div>
					</div>
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Add</button>
				</form>
			
		</div>
	</div>
    
	{% endfor %}
    <div class="container">
	<div class="row">
		<div class="col-12">
			<p>Total</p>
			<p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
			<a href="{% url 'checkout' %}" class="btn btn-success"
				role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
		</div>
	</div>
    </div>
</div>

{% endblock %}