{% extends 'base.html' %}
{% load bootstrap_tags %}
{% load humanize %}

{% block title %}{{ bug.title }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<!-- <a class="btn btn-primary back-btn" >Back</a> -->
			<h3> Add a Comment if you have sth else you want to describe about the bug, please include the bug name in
				your comment </h3>
			<form method="POST" class="comment-form" action="{% url 'add_comment_bug' id=bug.pk %}">
				{% csrf_token %}
				{{ form | as_bootstrap }}
				<button type="submit" class="btn btn-bug">Comment</button>
				<a class="btn btn-cancel" onclick="history.go(-1)">Cancel</a>
			</form>
		</div>
	</div>
	<div class="comments-part">
		<div class="row">
			<div class="col-12 offset-md-1 col-md-10 col-lg-9">
				<h2> Comments: </h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 offset-md-1 col-md-10 col-lg-9">

				{% for comment in comments %}
				<div class="card comment-card">
					<div class="card-header">
						<p class="card-title"><strong>{{comment.author}}</strong> posted
							{{comment.created_on|naturaltime}}</p>
					</div>
					<div class="card-body">
						{% if request.user == comment.author %}
						<p class="card-text">
							{{comment.comment}}
							<button type="button" class="btn-delete" data-toggle="modal" data-target="#deleteBugComment{{comment.id}}">Delete</button>
						</p>
						{% else %}
						<p class="card-text">{{comment.comment}}</p>
						{% endif %}
					</div>
				</div>
				<div class="modal fade" id="deleteBugComment{{comment.id}}" tabindex="-1" role="dialog"
					aria-labelledby="deleteBugComment{{comment.id}}" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteBugComment">Delete this comment?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
							</div>
							<div class="modal-body">
								<p class="modal-paragraph">{{comment.comment}}</p>
							</div>
							<div class="modal-footer">
								<a class="btn btn-delete" href="{% url 'delete_comment_bug' comment.id %}">Delete
									Comment</a>
								<button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>

				{% empty %}
				<p class="text-pale"> No comments to show </p>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}